.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  top:0;

  &__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    background-image: url("https://s26.postimg.org/tyr24i0u1/home.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &__title__container {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

  }

  &__title {
    margin-top: 0px;
    padding: 15px 20px 15px 20px;
    color: $mainGrey;
    /*text-shadow: 2px 2px 4px $mainGrey;*/
    /*font-family: 'Cormorant Garamond', serif;*/
    /*font-family: 'Cinzel', serif;*/
    font-family: 'Italiana', serif;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    cursor: default;
    letter-spacing: 5px;

    @mixin atMedium {
      font-size: 90px;
    }

    @mixin atLarger {
      font-size: 170px;
    }
  }

  &__subtitle {
    margin-top: -40px;
    margin-bottom: 0px;
    padding: 2px 5px 2px 5px;
    color: $mainGrey;
    font-family: 'Italiana', serif;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    cursor: default;
    letter-spacing: 3px;

    @mixin atLarger {
      font-size: 70px;
      margin-bottom: 80px;
    }
  }

  &__button__container {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  &__button {
    display: none;

    @mixin atLarge {
      display:block;
      margin: 0 auto;
      padding: 10px 40px;
      border: 0.5px solid #000;
      box-shadow: 5px 6px 18px #888888;
      background-color: #D8D8D8;
      background: rgba(216, 216, 216, .3);
      color: #000000;
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 23px;
      text-decoration: none;
      cursor: pointer;
      transition: 0.2s all ease-out;
    }

    @mixin atLarger {
      font-size: 50px;
      padding: 15px 60px;
    }

    &:hover {
      background-color: #ACACAC;
      color: #ffffff;
      border: 0.5px solid #fff;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}
